/*
	CGDA Logo Colours
	Blue: #3496DA;
	Red: #E74C3B;
	Green: #2DCB71;
	Yellow: #F0C310;

	Site Colours
	Grey: #D3D3D3;
*/
body {
	font-family: 'Open Sans', sans-serif;
	background: #D3D3D3;
}
h1 {
	font-family: 'Lato', sans-serif;
	font-size: 1.6em;
	font-weight: bold;
}

a {
	color: #E74C3B;
	border-bottom: 1px dashed #E74C3B;
}
a:hover {
	color: #E74C3B;
	border-bottom: 1px solid #E74C3B;
}

.blue {
	color: #3496DA;
}
.red {
	color: #E74C3B;
}
.green {
	color: #2DCB71;
}
.yellow {
	color: #F0C310;
}
#site-logo {
	margin: 20px 0;
}
#utility-nav {
	text-align: right;
}
#utility-nav a {
	border-bottom: 0;
	margin-left: 10px;
}
#utility-nav .fa {
	display: inline-block;
	font-size: 2.8em;
}
#wrapper {
	background: #fff;
	padding-right: 1.875rem;
    padding-left: 1.875rem;
}
header {
	display: flex;
	align-items: center;
}

#preamble.callout {
	background: #3496DA;
	border: none;
	color: #fff;
}
#preamble.callout a {
	font-weight: bold;
	color: #F0C310;
	border-color: #F0C310;
}
#events {
	margin-bottom: 1rem;
}
#events h1 {
	background: #E74C3B;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 0;
	padding-top: 10px;
	padding-bottom: 10px;
}
#events .bucket {
	background: #fff;
	padding-top: 15px;
	border-left: 1px solid #bbb;
	border-right: 1px solid #bbb;
	border-bottom: 1px solid #bbb;
	font-size: .8em;
}
#events .bucket:nth-child(even) {
	border-right: 0;
}
#events .bucket:last-child {
	border-right: 1px solid #bbb;
}
#events .bucket h2 {
	color: #333;
	font-size: 1.2em;
	font-weight: bold;
	text-transform: uppercase;
	margin-top: 15px;
}

#leadership h1 {
	background: #3496DA;
	color: #fff;
	text-transform: uppercase;
	margin-top: 10px;
	margin-bottom: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}

#membership {
	margin-top: 1rem;
}
#membership li {
	font-size: .8em;
}
#membership-button {
	display: flex;
	align-items: center;
	width: 100%;
	height: 100%;
	font-size: 1.6em;
	font-weight: bold;
	line-height: 1.4em;
}

.bio p {
	margin-bottom: 0;
}
.bio .name {
	margin-top: 5px;
}
.bio .position {
	font-size: .8em;
}
#contact {
	background: #2DCB71;
	color: #fff;
	padding-top: 15px;
	text-align: center;
}