/*
	CGDA Logo Colours
	Blue: #3496DA;
	Red: #E74C3B;
	Green: #2DCB71;
	Yellow: #F0C310;

	Site Colours
	Grey: #D3D3D3;
*/
body {
	font-family: 'Open Sans', sans-serif;
	background: #D3D3D3;
}
h1 {
	font-family: 'Lato', sans-serif;
	font-size: 1.6em;
	font-weight: bold;
}

a {
	color: #c0e2f9;
	border-bottom: 1px dashed #c0e2f9;
}
a:hover {
	border-bottom: 1px solid #c0e2f9;
}

.blue {
	color: #3496DA;
}
.red {
	color: #E74C3B;
}
.green {
	color: #2DCB71;
}
.yellow {
	color: #F0C310;
}
#site-logo {
	margin: 20px 0;
}
#wrapper {
	background: #fff;
	padding-right: 0.9375rem;
    padding-left: 0.9375rem;
}
header {
	display: flex;
	align-items: center;
}

#preamble.callout {
	background: #3496DA;
	border: none;
	color: #fff;
	text-align: center;
}
#preamble.callout a {
	font-weight: bold;
}
#events h1 {
	background: #E74C3B;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 0;
	padding-top: 10px;
	padding-bottom: 10px;
}
#events h2 {
	color: #333;
	font-size: 1.2em;
	text-align: center;
	text-transform: uppercase;
}
#events .bucket {
	background: #fff;
	padding-top: 15px;
	border-right: 1px solid #bbb;
	border-bottom: 1px solid #bbb;
}
#events .bucket.first {
	border-left: 1px solid #bbb;
}
#leadership-bios {
	display: flex;
}
#leadership-bios .bio {
	flex: 1;
}

#membership-button {
	display: flex;
	align-items: center;
	width: 100%;
	height: 100%;
	font-size: 1.6em;
	font-weight: bold;
	line-height: 1.4em;
}